@import "../omarchy/current/theme/waybar.css";

* {
  background-color: transparent;
  color: @foreground;
  border: none;
  min-height: 0;
  padding: 0;
  margin: 0;
  font-family: 'AtkynsonMono Nerd Font Mono Propo';
  font-size: 10px;
}


window#waybar {
  background-color: transparent;
}

.modules-center {
  background-color: @background;
  opacity: 0.77;
  border-radius: 28px;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 4px 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.modules-left,
.modules-right {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  padding: 0 4px;
  margin: 0 2px;
  min-width: 8px;
  color: @foreground;
}

#workspaces button.active {
  background: #667774;
  border-radius: 18px;
  min-width: 10px;
  transition: all 0.3s ease-in-out;
}

#workspaces button.empty {
  opacity: 0.3;
}

#cpu,
#battery,
#pulseaudio,
#bluetooth,
#network,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update,
#custom-voxtype,
#custom-tomato {
  margin: 0 6px;
  padding: 0 8px;
}

#clock {
  margin: 0 8px;
  font-weight: 500;
  font-family: 'AtkynsonMono Nerd Font Propo';
}

#tray {
  margin: 0 4px;
}

#custom-expand-icon {
  margin: 0 4px;
}

tooltip {
  background-color: @background;
  border: 1px solid alpha(@foreground, 0.2);
  border-radius: 8px;
  padding: 6px 10px;
}

#custom-update {
  font-size: 10px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator.active {
  color: @foreground;
}

#custom-voxtype.recording {
  color: @foreground;
}

#custom-tomat {
  padding: 0 10px;
  margin: 0 5px;
  border-radius: 28px;
}

#custom-tomat.work {
  background-color: @foreground;
  color: @background;
}

#custom-tomat.work-paused {
  background-color: @foreground;
  color: @background;
}
